<h1>Welcome To The</h1>

<%= image_tag("freemarket-text.jpg", class: "img-responsive") %>


<p id="earthtime">Earth <%= Time.now %></p>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('Login', new_user_session_path) %>
<% end %>
