<h1>Your Orders</h1>

<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-2 col-md-4">
      <h1>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order.product %>
      </h1>
      <%= image_tag(order.product.image_url, class: "img-responsive") %>
      <p></p>
    </div><!-- /col -->
  <% end %>
</div><br><br>
