// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#in-n-out {
  margin-top: 10px;
}

#brand {
  padding: 25px 20px 10px 20px;
  clear: none;
}

#brand a:hover {
  color: white;
}

.navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
}

.navbar ul {
  float: right;
}

.navbar li {
  display: inline-table;
  padding: 0px 20px 0px 20px;
  margin-top: -20px;
}

.navbar  a {
  color: grey;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.05em;
}

#navbuttons a:hover {
  color: white;
  text-decoration: none;
}

#search-box {
  margin:  37px 10px 10px 0px;
}

#search-button {
  margin:  37px 10px 10px 0px;
}

body {
  background: image-url('graffiti.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a {
  transition: color 2000ms;
  -webkit-transition: color 2000ms;
}

.item {
  height: 600px
}

#main-body {
  padding-top: 230px;
  margin-top: -40px;
  text-align: center;
  background-color: grey;
  opacity: 0.9;
  color: black;
}

#main-body a {
  color: black;
}

#main-body a:hover {
  color: white;
  text-transform: none;
  text-decoration: none;
}

.carousel {
  margin-left: -15px;
  margin-right: -15px;
}

.img-responsive {
  position: relative;
  margin: auto;
}

.carousel-control {
  margin-top: -69px;
}

#contact-button {
  margin-bottom: 15px;
}

#thanks {
  margin-top: 150px;
}

footer {
  height: 50px;
  background-color: #515151;
  margin-top: -1px;
  padding-top: 17px;
  padding-left: 20px;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  clear: both;
}

footer p {
  float: left;
}

.fb-share-button {
  float: right;
  clear: none;
  padding-right: 20px;
}

#earthtime {
  padding-top: 20px;
}

/*Typography*/

h1,
h2,
h3,
p,
li,
a {
  font-family: Arial, sans-serif;
}
