<% @comments = @product.comments.paginate(:page => params[:page], :per_page => 5) %>

<div class="product-reviews">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>

  <%= will_paginate @comments %>

</div>
