<p></p>

<h1>Our Products</h1>



  <div class="container-fluid">
    <div class="row">
      <%= render @products %>
    </div>
  </div>

<br>

<%= will_paginate @comments %><br><br>

<%= link_to 'New Product', new_product_path %>
